
.calculator {
    width: 350px;
    margin: 40px auto;
    background: rgb(160, 214, 165);
    padding: 20px;
    border-radius: 16px;
    
    background: rgb(196, 196, 196);
    backdrop-filter: blur(14px);

    border: 1px solid rgba(0,0,0,0.06);

    box-shadow:
        0 10px 30px rgba(0,0,0,0.08);

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.display {
    background: rgb(142, 185, 165);
    color: #ffffff;
    font-size: 2rem;
    text-align: right;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;

    box-shadow:
        inset 0 2px 4px rgba(0, 0, 0, 0.12),
        inset 0 -1px 2px rgba(128, 128, 128, 0.6),
        0 1px 0 rgba(184, 184, 184, 0.6);
}

.buttons-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    padding: 20px;
    font-size: 1.5rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    background: #858585;
    color: #ffffff;

    box-shadow:
        0 4px 0 rgba(0,0,0,0.15),
        0 10px 20px rgba(0,0,0,0.08);

    transition: transform 0.08s ease, box-shadow 0.08s ease;
}

.btn.digit {
    background-color:rgb(155, 155, 155);
}

.btn.equals {
    background-color: rgb(204, 142, 87);
}
