.calculator {
    width: 50%;
    background: lavender;
    padding: 20px;
    border-radius: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.display {
    background: rgb(84, 95, 135);
    color: white;
    font-size: 2rem;
    text-align: right;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.buttons-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    padding: 20px;
    font-size: 2rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background: #d0ace6;
    color: white;
}